.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.small {
  font-size: 10px;
}

.medium {
  font-size: 20px;
}

.large {
  font-size: 30px;
}

.primary {
  color: blue;
}

.secondary {
  color: var(--red-color);
}
